body {
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    height: 100vh; /* Задаем высоту вьюпорта */
    margin: 0; /* Убираем отступы */
    background-image: url('images/background2.jpg');
    background-size: cover;
    font-family: '3270 Nerd Font Mono', 'sans-serif';
}

.score, .level {
    font-size: 40px; /* Увеличиваем размер шрифта */
    margin-bottom: 10px; /* Отступ между счетом и канвасом */
    color: crimson;
    text-shadow:
            1px 1px 0 lightpink,  /* Обводка справа и вниз */
            -1px -1px 0 lightpink, /* Обводка слева и вверх */
            1px -1px 0 lightpink,  /* Обводка справа и вверх */
            -1px 1px 0 lightpink;  /* Обводка слева и вниз */
}

.playField {
    background-color: rgba(0, 0, 0, 0.85);
    border: 5px outset darkred;
}

.container {
    background: rgba(0, 0, 0, 0.45);
    border: 5px outset darkred;
    display: flex;
    align-items: center; /* Центрируем элементы по вертикали */
    flex-direction: column; /* Устанавливаем вертикальное направление */
}

.welcomeMessage {
    text-align: center;
}

.leftContainer {
    background: rgba(0, 0, 0, 0.45);
    margin: 20px 100px 20px 20px;
    font-size: 30px;
    color: crimson; /* Основной цвет текста */
    text-shadow:
            1px 1px 0 lightpink,  /* Обводка справа и вниз */
            -1px -1px 0 lightpink, /* Обводка слева и вверх */
            1px -1px 0 lightpink,  /* Обводка справа и вверх */
            -1px 1px 0 lightpink;  /* Обводка слева и вниз */
    border: 5px outset darkred;
}

.instructions {
    margin-left: 20px;
}

.nextTetrominoDiv {
    border: 5px outset darkred;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    width: 128px; /* Ширина div */
    height: 128px; /* Высота div */
    margin-right: 0;
}

.scoreTable {
    border: 5px outset darkred;
    background-color: rgba(0, 0, 0, 0.45);
    text-align: center;
    font-size: large;
    width: 256px; /* Ширина div */
    height: 640px; /* Высота div */
    margin-left: 150px;
    margin-right: 20px;
    color: crimson;
    text-shadow:
            1px 1px 0 lightpink,  /* Обводка справа и вниз */
            -1px -1px 0 lightpink, /* Обводка слева и вверх */
            1px -1px 0 lightpink,  /* Обводка справа и вверх */
            -1px 1px 0 lightpink;  /* Обводка слева и вниз */
}

.musicButton {
    background-image: url('images/disk_12065492.png');
    background-size: cover;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: 5px outset darkred;
    cursor: pointer; /* Курсор в виде указателя */
    position: relative; /* Позиционируем кнопку */
    bottom: 20px; /* Отступ сверху */
    left: 20px; /* Отступ слева */
}
